---
layout: default
title: Projects
---

<article>
  <h2>Projects</h2>
  <div class="projects-flex-container">
    {%- for post in site.posts -%}
    <div class="projects-flex-items">

      <p class="projects-flex-subitems"><time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date
          | date: site.date_format }}</time> - <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </p>

      {%- if post.tags.size > 0 -%}
      <!-- <p class="projects-flex-subitems">{% for tag in post.tags %}[<a href="tags#{{ tag }}">{{ tag }}</a>]{% endfor %} -->
      <p class="projects-flex-subitems">{% for tag in post.tags %}[<a href="{{ 'tags' | absolute_url }}">{{ tag
          }}</a>]{% endfor %}
      </p>
      {%- endif -%}
      <!-- absolute_url -->
    </div>
    {%- endfor -%}
  </div>
</article>
