// Colors
$whiteColor: #ffffff;
$grey0Color: #e5e5e5;
$grey1Color: #cbcbcb;
$grey2Color: #b2b2b2;
$grey3Color: #9a9a9a;
$grey4Color: #828282;
$grey5Color: #6c6c6c;
$grey6Color: #565656;
$grey7Color: #404040;
$grey8Color: #2c2c2c;
$grey9Color: #1a1a1a;
$blackColor: #000000;

// Fonts
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyFont: Space Mono, monospace;


body {
  background: $whiteColor;
  color: $blackColor;
  font-family: $bodyFont;
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin: 0 auto;
  max-width: 680px;
  padding: 2rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5rem;
}

p {
  text-align: justify;
  text-justify: auto;
}

a {
  color: $grey9Color;
}

a:hover {
  color: $grey4Color;
}

img,
canvas {
  margin: auto;
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid $grey0Color;
  border-collapse: collapse;
  padding: 0.4rem;
}


code {
  background: #f2f2f2;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}


.projects-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


@mixin project-flex-items {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-flex-items-in-list {
  @include project-flex-items;
}

.project-flex-items {
  @include project-flex-items;
  padding: 0.25em;
  // padding-bottom: 0.25em;
  margin-bottom: 2em;
  border-bottom: $grey9Color solid 1px;
}


.project-flex-subitems {
  flex-wrap: nowrap;
  margin-bottom: 0.075rem;
  text-align: left;
}

.project-image {
  width: 100%;
  max-height: 210px;
  object-fit: scale-down;
  // object-fit: scale;
}
