// Colors
$background-color: #ffffff;
$background-dark-color: #e5e5e5;
$hover-color: #828282;
$foreground-light-color: #1a1a1a;
$foreground-color: #000000;
$code-color: #f2f2f2;

// Fonts
$body-font-family: "Space Mono", monospace;
$code-font-family: "Inconsolata", monospace;
// $code-font-family: Courier New, Courier, monospace;


body {
  background: $background-color;
  color: $foreground-color;
  font-family: $body-font-family;
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin: 0 auto;
  max-width: 680px;
  // padding: 2rem 2rem;
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5rem;
}

p {
  text-align: justify;
  text-justify: auto;
}

a {
  color: $foreground-light-color;
}

a:hover {
  color: $hover-color;
}

img,
canvas {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  // object-fit: scale;
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid $background-dark-color;
  border-collapse: collapse;
  padding: 0.4rem;
  font-size: 0.8rem;
  line-height: 1rem;
}


code {
  font-family: $code-font-family;
  background: $code-color;
  line-height: 0.97rem;
  // For Courier New
  // font-size: 0.75rem;
  // line-height: 0.95rem;
}

hr {
  border-style: none;
  border-bottom: $foreground-light-color solid 1px;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}


.projects-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


@mixin project-flex-items {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-flex-items-in-list {
  @include project-flex-items;
}

.project-flex-items {
  @include project-flex-items;
  padding: 0.25em;
  // padding-bottom: 0.25em;
  margin-bottom: 2em;
  border-bottom: $foreground-light-color solid 1px;
}


.project-flex-subitems {
  flex-wrap: nowrap;
  margin-bottom: 0.075rem;
  text-align: left;
}

.project-image {
  width: 100%;
  max-height: 210px;
}
