---
layout: default
---

<article>
  {{ content }}
</article>

<article>
  <h2>Projects</h2>

  <div class="projects-flex-container">
    {%- for post in site.posts -%}

    {% if post.img %}
    <div class="project-flex-items">

      <div class="project-flex-subitems">
        <a href="{{ post.url | relative_url }}">
          {% if post.img contains '://' %}
          <img class="project-image" src="{{ post.img }}" alt="{{ post.title | escape }}">
          {% else %}
          <img class="project-image" src="{{ post.img | escape }}" alt="{{ post.title | escape }}">
          {% endif %}
        </a>
      </div>


      <div class="project-flex-subitems">
        <!-- <span><time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date
            | date: site.date_format }}</time></span>
        <span>-</span> -->
        <span><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
      </div>

      {%- if post.tags.size > 0 -%}
      <div class="project-flex-subitems">
        {% for tag in post.tags %}
        <span>[<a href="tags#{{ tag }}">{{ tag }}</a>]</span>
        {% endfor %}
      </div>
      {%- endif -%}


    </div>
    {% endif %}
    {%- endfor -%}
  </div>


</article>
